/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Components
  ======================================================================*/
/* comment */
.comment {
  padding: 30px 22px;
  background: #fff;
}

.comment-hd {
}

.comment-title {
  display: block;
  width: 100%;
  line-height: 45px;
  padding: 0 15px;
  .c_normal;
  .fs18;
  background: #fff;
  border: 1px solid #efefef;
  .box-sizing(border-box);
}


/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
