/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Components
  ======================================================================*/
/* ----------------------------------------
 * button
 * ---------------------------------------- */
.btn {
  display: inline-block;
}

.btn-primary {
  min-width: 112px;
  line-height: 45px;
  text-align: center;
  .c_white;
  .fs16;
  background: #34b3ed;
}

.btn-gray {
  min-width: 180px;
  line-height: 40px;
  text-align: center;
  .c_black;
  .fs16;
  background: url("../images/btn-gray.png") repeat-x;
  border: 1px solid #edecec;
}

.btn-gray:hover {
  .c_white;
  background-position: 0 -40px;
}


/* ----------------------------------------
 * Kv
 * ---------------------------------------- */
.m-kv {
  overflow: hidden;
  position: relative;
}

.m-kv-body {
  .m-kv-item {
    height: 508px;
    background-repeat: no-repeat;
    background-position: center top;

    a {
      display: block;
      height: 508px;
    }
  }
}

.m-kv-head {
  position: absolute;
  bottom: 36px;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
  }

  .on {
    background: #1aa9eb;
  }
}

/* ----------------------------------------
 * m-project-list
 * ---------------------------------------- */

.m-page-title {
  ul {
    margin: 5px 0 0 -43px;
  }

  li {
    float: left;
    padding: 0 43px;
    .fs26;
    font-weight: bolder;
    background: url("../images/project-list-hd-split.png") no-repeat left center;

    a {
      .c_heavy;
      font-weight: bolder;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  li.active {
    a {
      .c_blue;
    }
  }
}

/* ----------------------------------------
 * m-project-list
 * ---------------------------------------- */
.m-project-list {
  margin: 0 -9px 0 -9px;
}

.m-project-list-item {
  width: 288px;
  height: 518px;
  margin: 0 9px 18px 9px;
  background: #fff;
  border: 1px solid #d9d9de;

  .thumb {
    img {
      display: block;
      width: 100%;
    }
  }

  .desc {
    padding: 23px 18px 0 18px;
    background: url("../images/project-item-bg.png") repeat-x;

    dt {
      height: 45px;
      line-height: 24px;
      margin-bottom: 18px;
      font-weight: bolder;

      a {
        .fs18;
        .fb;
        .c_normal;
      }

      a:hover {
        color: #2694bb;
      }
    }

    dd {
      line-height: 18px;
      .fs12;
      .c_normal;
    }
  }
}

.m-project-list-item:hover {
  -webkit-box-shadow: 0 10px 8px -6px #ccc;
  -moz-box-shadow: 0 10px 8px -6px #ccc;
  box-shadow: 0 10px 8px -6px #ccc;
}

/* m-project-list: waterfall */
.m-project-list-waterfall {
  margin: 0 -18px 0 -18px;

  .column {
    width: 378px;
    margin: 0 18px;
  }

  .m-project-list-item {
    width: 378px;
    height: auto;
    padding: 0 0 30px 0;
    margin: 0 0 36px 0;
    
    .m-info-meta {
      .main {
        width: 240px;
      }
    }
  }
}

/* ----------------------------------------
 * m-info-meta
 * ---------------------------------------- */
.m-info-meta {
  line-height: 18px;
  margin: 23px 0 0 0;
  .fs12;
  .c_normal;

  .main {
    float: left;
    width: 145px;
    padding: 0 0 0 6px;
  }

  .status {
    float: right;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding-left: 23px;
    margin-top: 4px;
    font-weight: bold;
    border-left: 1px solid #ccc;
  }
}

/* info meta status */
.doing {
  .m-info-meta {
    .status {
      color: #69c54c;
    }
  }
}

.finished{
  .m-info-meta {
    .status {
      color: #dd3d57;
    }
  }
}

.incoming {
  .m-info-meta {
    .status {
      .c_blue;
    }
  }
}

/* ----------------------------------------
 * m-article-content
 * ---------------------------------------- */
.m-article-content {
}

.m-article-content-hd {
  .title {
    padding: 12px 0;
    margin-bottom: 27px;
    .fs24;
    .c_black;
    font-weight: bolder;
  }

  .summary {
    line-height: 30px;
    margin-bottom: 33px;
    .fs16;
    .c_black;
  }
}

.m-article-content-bd {
  line-height: 30px;
  .fs14;
  color: #555;
}

/* ----------------------------------------
 * m-unit-list
 * ---------------------------------------- */
.m-unit-list {
  margin: 0 -18px 0 -17px;

  .item {
    width: 588px;
    height: 288px;
    margin: 0 18px 35px 17px;
    background: #fff;
    .border1;
    position: relative;

    .select-icon {
      display: none;
      position: absolute;
      bottom: 29px;
      right: 29px;
      width: 56px;
      height: 56px;
      background: url("../images/icon-select-sprit.png") no-repeat;
      .transition(all, .4s);
      cursor: pointer;
    }

    .select-icon.active {
      background: url("../images/icon-select-sprit.png") no-repeat 0 -66px;
    }
  }

  .item:hover {
    -webkit-box-shadow: 0 10px 8px -6px #ccc;
    -moz-box-shadow: 0 10px 8px -6px #ccc;
    box-shadow: 0 10px 8px -6px #ccc;
  }


  .item.add-item {
    position: relative;

    i {
      display: block;
      width: 100px;
      height: 100px;
      background: url("../images/icon-add-big.png") no-repeat center center;
      position: absolute;
      top: 97px;
      left: 244px;
      cursor: pointer;
    }
  }

  .item.add-item:active {
    position: relative;
    top: 1px;
  }

  .thumb {
    width: 288px;
    height: 288px;
    .border1r;
  }

  .info {
    width: 255px;
    padding: 54px 0 0 0;
    margin: 0 0 0 23px;

    h3 {
      line-height: 24px;
      margin-bottom: 18px;
      .fs18;
      font-weight: bolder;

      a {
        .c_normal;
      }

      a:hover {
        .c_blue;
      }
    }

    .desc {
      line-height: 18px;
      margin-bottom: 22px;
      .fs12;
      .c_normal;
    }

    .btnWrap {}

    .btn {
      display: inline-block;
      line-height: 38px;
      padding: 0 26px;
      .c_normal;
      font-size: 15px;
      border: 1px solid #d8d8db;
      -webkit-transition: border-color .25s;
      -moz-transition: border-color .25s;
      -ms-transition: border-color .25s;
      -o-transition: border-color .25s;
      transition: border-color .25s;
    }

    .btn:hover {
      color: #fff;
      background: #1aa9eb;
      border-color: #1aa9eb;
    }
  }
}
/* ----------------------------------------
 * m-comment
 * ---------------------------------------- */
.m-comment {
  padding: 30px 22px;
  background: #fff;
}

.m-comment-hd {
}

.m-comment-title {
  display: block;
  width: 100%;
  line-height: 45px;
  padding: 0 15px;
  .c_normal;
  .fs18;
  background: #fff;
  border: 1px solid #efefef;
  .box-sizing(border-box);
}

/* ----------------------------------------
 * m-pagination
 * ---------------------------------------- */
.m-pagination {
  margin: 18px 0;
  text-align: right;
  font-size: 12px;
  .enableSelect;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    font-size: 18px;
    margin: 0 4px;

    a {
      display: inline-block;
      min-width: 24px;
      line-height: 24px;
      color: #b9b9b9;
      text-align: center;
      .box-sizing(border-box);
    }
  }

  li.active a,
  li:hover a {
    .c_white;
    background: #1aa9eb;
  }

  li.another:hover a{
    color: #b9b9b9;
    background: none;
  }

  li.first {
    margin-right: 8px;
  }

  li.last {
    margin-left: 8px;
  }

  .split {
    i {
      display: inline-block;
      width: 8px;
      margin: 0;
      line-height: 24px;
      background: url("../images/pagination-split.png") no-repeat center center;
    }
  }
}
/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
