/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Components
  ======================================================================*/
/* project-list */
.project-list {
  width: 120%;

  .item {
    width: 288px;
    height: 518px;
    margin-right: 18px;
    background: #fff;
    border: 1px solid #d9d9de;
  }

  .thumb img{
    .transition(.2s);
  }

  .thumb:hover img{
    opacity: .8;
  }

  .desc {
    padding: 23px 18px 0 18px;
    background: url("../images/project-item-bg.png") repeat-x;

    dt {
      height: 45px;
      line-height: 24px;
      margin-bottom: 18px;

      a:hover {
        color: #2694bb;
      }
    }

    dd {
      line-height: 18px;
    }
  }

  .meta {
    line-height: 18px;
    margin: 23px 0 0 0;
    .fs12;
    .c_normal;

    .main {
      float: left;
      width: 154px;
      padding: 0 0 0 6px;
    }

    .status {
      float: right;
      font-size: 18px;
      height: 45px;
      line-height: 45px;
      padding-left: 23px;
      margin-top: 4px;
      font-weight: bold;
      border-left: 1px solid #ccc;
    }

    .status.doing {
      color: #1aa9eb;
    }

    .status.finish {
      color: #dd3d57;
    }
  }
}

/* comment */
.comment {
  padding: 30px 22px;
  background: #fff;
}

.comment-hd {
}

.comment-title {
  display: block;
  width: 100%;
  line-height: 45px;
  padding: 0 15px;
  .c_normal;
  .fs18;
  background: #fff;
  border: 1px solid #efefef;
  .box-sizing(border-box);
}

/* pagination */
.pagination {
  margin: 18px 0;
  text-align: right;
  font-size: 12px;
  .enableSelect;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    font-size: 18px;
    margin: 0 4px;

    a {
      display: inline-block;
      min-width: 24px;
      line-height: 24px;
      color: #b9b9b9;
      text-align: center;
      .box-sizing(border-box);
    }
  }

  li.active a,
  li:hover a {
    .c_white;
    background: #1aa9eb;
  }

  li.another:hover a{
    color: #b9b9b9;
    background: none;
  }

  li.first {
    margin-right: 8px;
  }

  li.last {
    margin-left: 8px;
  }

  .split {
    i {
      display: inline-block;
      width: 8px;
      margin: 0;
      line-height: 24px;
      background: url("../images/pagination-split.png") no-repeat center center;
    }
  }
}
/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
