/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Global
  ======================================================================*/
html {
  padding: 0;
  margin: 0;
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-width: 1215px;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.block {
  display: block;
}

.layout {
  width: 1215px;
  min-width: 1215px;
  margin-left: auto;
  margin-right: auto;
}

.font-smooth {
  -webkit-font-smoothing: antialiased;
}

p, a {
  .font-smooth;
}

/*======================================================================
      Units
  ======================================================================*/
/* button */
.btn {
  display: inline-block;
}

.btn-primary {
  min-width: 112px;
  line-height: 45px;
  text-align: center;
  .c_white;
  .fs16;
  background: #34b3ed;
}

/*======================================================================
      Main
  ======================================================================*/
body {
  overflow-x: hidden;
  min-width: 1215px;
  background: #f7f9fa;
}

/* header */
header {
  min-width: 1215px;
  height: 90px;
  background: #fff;
  .box-shadow(0, 1px, 9px, rgba(4, 0, 0, .12));
  position: relative;
  z-index: 1000;
}

.header-logo {
  width: 328px;
  height: 90px;
  background: url("../images/header-logo.png") no-repeat;
}

.header-nav {
  padding: 35px 0 0 54px;

  .item {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;

    .c_strong;
  }

  .item:hover {
    color: #2694bb;
  }
}

.header-signbar {
  height: 60px;
  line-height: 60px;
  margin: 16px 0 0 37px;
  border-left: 1px solid #ccc;
}

.header-sign-before {
  a {
    display: inline-block;
    margin: 0 25px;
    .fs12;
    text-decoration: none;

    .c_light;
  }

  a:hover {
    color: #2694bb;
  }
}

.header-sign-after {
  margin-left: 50px;
  position: relative;

  .header-droplist-wrap {
    display: inline-block;

  }

  .header-user {
    padding: 0 20px 0 0;
    color: #6c7280;
    .fs14;

    background: url("../images/trangle-down-small.png") no-repeat right center;
  }

  ul {
    display: none;
    position: absolute;
    top: 50px;
    left: -25px;
    width: 122px;
    padding: 10px 0 12px 0;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;

    li {
      padding: 9px 0;
      line-height: 18px;
    }

    a {
      display: block;
      .c_normal;
    }

    a:hover{
      .c_blue;
    }
  }

  ul:after {
    content:'';
    width: 17px;
    height: 8px;
    background: url("../images/border-arrow-up.png") no-repeat;
    position: absolute;
    top: -8px;
    left: 53px;
  }

  .header-droplist-wrap:hover ul{
    display: block;
  }
}

.pr {
  position: relative;
}

.header-float {
  position: absolute;
  right: -65px;
  top: 25px;
  width: 65px;
  height: 254px;
  z-index: 100;

  .item {
    display: block;
  }

  .item01 {
    height: 65px;
    background: #ffc600 url('../images/header-float01.png') no-repeat center center;
  }

  .item02 {
    height: 65px;
    background: #1aa9eb url('../images/header-float02.png') no-repeat center center;
  }

  .item03 {
    height: 65px;
    background: #00ba9d url('../images/header-float03.png') no-repeat center center;
  }

  .item04 {
    height: 58px;
    background: #dd3d57 url('../images/header-float04.png') no-repeat center center;
  }
}

/* KV */
.kv {
  overflow: hidden;
  position: relative;
}

.kv-body {
  .kv-item {
    height: 508px;
    background-repeat: no-repeat;
    background-position: center top;

    a {
      display: block;
      height: 508px;
    }
  }
}

.kv-head {
  position: absolute;
  bottom: 36px;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer;
  }

  .on {
    background: #1aa9eb;
  }
}

/* common title */
.row-title {
  .more {
    margin: 7px 22px 0 0;
    padding: 0 24px 0 0;
    text-decoration: none;
    background: url("../images/more-arrow.png") no-repeat right center;
  }

  .more:hover {
    color: #2694bb;
    background: url("../images/more-arrow-active.png") no-repeat right center;
  }
}

/* hot project */
.hot-project {
  margin: 43px 0 0 0;
}

.hot-project-bd {
  overflow: hidden;
}

/* chuangke activity */
.chuangke-activity {
  margin-top: 75px;
  min-height: 782px;
  padding: 42px 0 0 0;
  border-top: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de;
  background: #fff;
}

.chuangke-activity-bd {
  position: relative;
  margin-top: 27px;

  .item {
    position: absolute;
    width: 610px;
    height: 389px;

    img {
      display: block;
      width: 100%;
    }
  }

  .item.active{
    width: 610px;
    height: 389px;
    z-index: 2;
    opacity: 1;

    .txt {
      opacity: 1;
    }
  }

  .item:hover {
    box-shadow: 0 0 10px #333;
  }

  .txt {
    opacity: 0;
    padding: 30px 35px;
    color: #fff;
    background: rgba(29, 146, 205, .8);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    dt {
      font-size: 32px;
      margin-bottom: 10px;
    }

    dd {
      .fs18;
      line-height: 34px;
    }
  }

  .item01 {
    top: 10px;
    left: 293px;
  }

  .item02 {
    top: 200px;
    left: 0;
    width: 313px;
    height: 180px;
  }

  .item03 {
    top: 200px;
    left: 890px;
    width: 313px;
    height: 180px;
  }

  .item03.active {
    left: 600px;
  }

  .item04 {
    top: 399px;
    left: 293px;
    width: 386px;
    height: 246px;
  }

  .item04.active {
    top: 310px;
    left: 280px;
  }

  .item05 {
    top: 399px;
    left: 679px;
    width: 314px;
    height: 180px;
  }

  .item05.active {
    top: 310px;
    left: 650px;
  }
}

/* chuangke point */
.indexTwoColumn {
  padding: 43px 0 73px 0;
}

.chuangke-point {
  width: 480px;
}

.chuangke-point-bd {
  margin-top: 42px;

  li {
    padding: 13px 0 28px 0;
    background: url("../images/chuangke-point-line.png") repeat-x 0 bottom;

    small {
      display: block;
      line-height: 33px;
      .c_light;
    }
    a {
      font-size: 18px;
      .c_normal;
    }
    a:hover {
      color: #2694bb;
    }
  }
}

/* recommend components */
.recommend-components {
  width: 570px;
  margin-right: 48px;
}

.recommend-components-bd {
  position: relative;
  margin-top: 43px;
  background: url("../images/recommend-components-split.png") no-repeat center 2px;

  .itemWrap {
    overflow: hidden;
    width: 570px;

    ul {
      width: 1000%;
    }

    li {
      display: none;
      width: 570px;
      height: 330px;

      .transition(.2s);
    }

    li.active {
      display: block;
    }
  }

  .item {
    width: 260px;
  }

  .thumb {
    display: block;
    border: 1px solid #d9d9de;

    img {
      vertical-align: top;
    }
  }

  dl {
    margin-top: 3px;
  }

  dt {
    padding: 16px 0;

    a {
      .fs18;
      .fb;
      .c_normal;
    }

    a:hover {
      color: #2694bb;
    }
  }

  dd {
    .fs14;
    line-height: 22px;
    .c_normal;
  }

  .count {
    .fs12;
    margin-top: 18px;
  }

  .prev {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    background: #1aa9eb;
    border-radius: 24px;
    top: 82px;
    left: -46px;
    cursor: pointer;
    .enableSelect;
  }

  .next {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    background: #1aa9eb;
    border-radius: 24px;
    top: 82px;
    right: -46px;
    cursor: pointer;
    .enableSelect;
  }

  .enable {
    background: gray;
  }
}


/* footer */
footer {
  min-height: 262px;
  padding: 58px 0 0 0!important;
  background: #fff;
  border-top: 1px solid #d9d9de;
}

@keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-webkit-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-o-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-moz-keyframes logoRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

.footer-logo {
  width: 187px;
  height: 118px;
  margin-right: 120px;

  .footer-logo-container {
    display: inline-block;
    width: 186px;
    height: 110px;
    background: url("../images/footer-logo.png") no-repeat;
    position: relative;

    .trangle01 {
      position: absolute;
      top: 10px;
      left: 137px;
      width: 6px;
      height: 12px;
      background: url("../images/footer-logo-trangle01.png") no-repeat;

      .animation(logoRotate, 2s, infinite);
    }

    .trangle02 {
      position: absolute;
      top: 4px;
      left: 145px;
      width: 11px;
      height: 11px;
      background: url("../images/footer-logo-trangle02.png") no-repeat;

      .animation(logoRotate, 2.5s, infinite);
    }

    .trangle03 {
      position: absolute;
      top: 20px;
      left: 145px;
      width: 8px;
      height: 10px;
      background: url("../images/footer-logo-trangle03.png") no-repeat;

      .animation(logoRotate, 3s, infinite);
    }

    .trangle04 {
      position: absolute;
      top: 29px;
      left: 150px;
      width: 9px;
      height: 8px;
      background: url("../images/footer-logo-trangle04.png") no-repeat;

      .animation(logoRotate, 3.5s, infinite);
    }

    .trangle05 {
      position: absolute;
      top: 20px;
      left: 163px;
      width: 10px;
      height: 7px;
      background: url("../images/footer-logo-trangle05.png") no-repeat;

      .animation(logoRotate, 5s, infinite);
    }
  }
}

.footer-nav {
}

.footer-nav-item {
  width: 218px;
  padding-left: 18px;
  margin-left: 43px;
  border-left: 1px solid #d9d9de;

  li {
    padding: 9px 0;
  }

  a {
    color: #000;
    font-size: 14px;
  }

  a:hover {
    color: #2694bb;
  }
}

.footer-nav-item.mid {
  margin-left: 0;
}

.footer-nav-item.last {
  width: 180px;
}

.footer-layer {
  margin-top: 45px;
  text-align: center;
  .fs12;
  .c_black;
}

/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){
  .header-float {
    right: 0;
  }
}
