/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Project
  ======================================================================*/
/* Page: project introduce */
.project-introduce {
  margin-bottom: 65px;

  .section-title {
    padding: 52px 0 12px 0;
    font-size: 26px;
    color: #333;
  }

  /* section summary */
  .summary {
    background: #fbfcfc;

    .section-inner {
      min-height: 508px;
      background-position: right top;
      background-repeat: no-repeat;
    }

    h1 {
      .c_blue;
      .fs30;
      padding-top: 34px;
      margin-bottom: 30px;
      font-weight: normal;
    }

    li {
      .c_blue;
      .fs18;
      line-height: 30px;
    }

    .desc {
      width: 465px;
      line-height: 30px;
      margin-top: 28px;
      .fs14;
      .c_normal;
    }
  }

  /* section logic */
  .logic {
    padding: 0 0 45px 0;
    background: #fff;
    .border1b;
  }

  /* section information */
  .information {
    aside {
      width: 809px;
    }

    main {
      width: 378px;
      margin-left: 28px;
    }
  }
  /* progress */
  .progress {
    background: #f7f9fa;

    .item {
      padding: 24px 28px;
      margin-bottom: 28px;
      background: #fff;
    }

    .user {
      width: 80px;
      margin-right: 25px;
      text-align: center;

      .thumb {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 9px;
        border-radius: 80px;
        background: #f7f9fa;

        .transition(all, .2s);
      }

      .thumb:hover {
        opacity: .85;
        .transform(rotate(15deg));
      }

      .name {
        .fs16;
        .c_heavy;
      }
    }

    .detail {
      width: 645px;

      h3 {
        padding: 0 0 18px 0;
        .fn;
        .fs24;
        .c_heavy;
        border-bottom: 1px solid #c7c7c7;
        position: relative;

        .date {
          .fs14;
          .c_normal;
          position: absolute;
          top: 14px;
          right: 0;
        }
      }

      .content {
        line-height: 30px;
        padding: 20px 0 15px 0;
        .fs14;
        .c_heavy;
      }

      .thumbList {
        overflow: hidden;
      }

      .thumbList-bd {
        width: 120%;
      }

      .thumbList-item {
        float: left;
        width: 125px;
        height: 80px;
        margin-right: 12px;
        border: 1px solid #c7c7c7;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .progress-hd {
    margin-bottom: 18px;
  }

  .progress-bd{
  }

  /* team member */
  .team-member {
  }

  .team-member-hd {
    margin-bottom: 18px;
  }

  .team-member-bd {
    padding:  24px 0 0 0;
    background: #fff;

    .listWrap {
      margin: 0 20px;
    }

    .item {
      float: left;
      width: 80px;
      height: 80px;
      margin: 0 48px 40px 0;
      position: relative;
    }

    .item:nth-child(3n) {
      margin-right: 0;
    }

    .thumb {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      overflow: hidden;
      .transition(all, .2s);
    }

    .thumb:hover {
      opacity: .85;
      .transform(rotate(15deg));
      
      .info {
        display: block;
      }
    }

    .team-member-add {
      display: block;
      width: 80px;
      height: 80px;
      background: url("../images/project-team-member-add.png") no-repeat;
      cursor: pointer;
    }

    .team-member-add:active {
      position: relative;
      top: 1px;
    }

      .info {
      display: none;
      position: absolute;
      right: 94px;
      top: 45px;
      width: 302px;
      background: #fff;
      border: 1px solid #efefef;
    }

    .info-bd {
      padding: 20px 20px 9px 20px;

      dl {
        padding-top: 22px;
        margin: 0 0 3px 15px;

        dt {
          .fs16;
          .c_heavy;
        }

        dd {
          .fs12;
          .c_light;
        }

        a {
          .c_heavy;
        }
      }

      .desc {
        .fs12;
        .c_normal;
      }
    }

    .info-ft {
      border-top: 1px solid #efefef;
      padding: 10px 0;
      .text-center;
      background: #fcfcfc;

      .btn {
        display: inline-block;
        line-height: 32px;
        padding: 0 30px;
        .c_normal;
        .fs16;
        background: #fff;
        border: 1px solid #efefef;
      }
    }

    .arrow{
      width: 7px;
      height: 15px;
      background: url("../images/project-team-member-info-arror.png") no-repeat;
      position: absolute;
      top: 34px;
      right: -7px;
    }

    .close{
      width: 12px;
      height: 12px;
      background: url("../images/project-team-member-close.png") no-repeat;
      position: absolute;
      top: 20px;
      right:20px;
    }
  }

  .team-member-ft {
    padding: 20px;
    margin-top: -14px;
    background: #fff;
    border-top: 1px solid #efefef;

    .team-member-invalid {
      border: 1px solid #efefef;

      input {
        width: 255px;
        height: 18px;
        line-height: 18px;
        padding: 10px;
        tab-index: 0.5em;
        .fs14;
        .c_normal;
        .ffam;
        border: none;
        outline: none;
        background: #fff;
      }

      .btn {
        width: 58px;
        height: 38px;
        line-height: 38px;
        .fs16;
        .c_light;
        border-left: 1px solid #efefef;
        text-align: center;
        background: #fff;
      }
    }
  }

  .progress-ft {
  }

    /* project units */
  .project-units {
  }

  .project-units-hd {
    .section-title {
      padding: 23px 0;
    }
  }

  .project-units-bd {
    padding: 25px 0 25px 18px;
    background: #fff;

    .item {
      margin-bottom: 20px;
    }

    .thumb {
      width: 160px;
      height: 112px;
      margin-right: 18px;
      background: #f7f9fa;

      img {
        display: block;
        .transition(all, .25s);
      }

    }

    .thumb:hover img {
      opacity: .85;
    }

    .info {
      width: 175px;

      .title {
        display: inline-block;
        margin: 25px 0 17px 0;
        .fs18;
        .c_normal;
        .fb;
      }

      p {
        .fs14;
        .c_normal;
      }
    }
  }

  .project-units-more {
    margin-right: 32px;
    .fs16;
    color: #1aa9eb;
  }
}


/* Page: project list */
.project-list {
  .lists{
    margin-top: 46px;
  }

  .lists-hd {
    margin: 0 0 23px 0;
    ul {
      margin: 5px 0 0 -43px;
    }

    li {
      float: left;
      padding: 0 43px;
      .fs26;
      font-weight: bolder;
      background: url("../images/project-list-hd-split.png") no-repeat left center;

      a {
        .c_heavy;
        font-weight: bolder;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    li.active {
      a {
        .c_blue;
      }
    }
  }

  .lists-bd {
    margin-bottom: 110px;

    .pagination {
      margin-top: 25px;
      position: relative;
      right: -4px;
    }
  }
}


/* Page: project unit */
.project-unit{
  background: #fff;
}

/* p-unit  prefix p is the inner module in project */
.p-unit { padding-bottom: 90px;}

.p-unit-hd {
  padding: 52px 0 45px 0;

  h2 {
    .fs26;
    .c_blue;
    font-weight: bolder;
  }
}

.p-unit-edit {
  width: 300px;
  .fs26;
  .fb;
  .c_blue;
  cursor: pointer;

  .trash {
    display: none;
    width: 21px;
    height: 26px;
    margin: 5px 7px 0 0;
    background: url("../images/icon-trash.png") no-repeat;
  }
}

.p-unit-edit-item {
  float: right;
  margin-left: 10px;
  font-weight: bolder;
}

.p-unit-bd {
}

/* unit list */
.p-unit-list {
  margin: 0 -18px 0 -17px;

  .item {
    width: 588px;
    height: 288px;
    margin: 0 18px 35px 17px;
    background: #fff;
    .border1;
    position: relative;

    .select-icon {
      display: none;
      position: absolute;
      bottom: 29px;
      right: 29px;
      width: 56px;
      height: 56px;
      background: url("../images/icon-select-sprit.png") no-repeat;
      .transition(all, .4s);
      cursor: pointer;
    }

    .select-icon.active {
      background: url("../images/icon-select-sprit.png") no-repeat 0 -66px;
    }
  }

  .item:hover {
    -webkit-box-shadow: 0 10px 8px -6px #ccc;
    -moz-box-shadow: 0 10px 8px -6px #ccc;
    box-shadow: 0 10px 8px -6px #ccc;
  }


  .item.add-item {
    position: relative;

    i {
      display: block;
      width: 100px;
      height: 100px;
      background: url("../images/icon-add-big.png") no-repeat center center;
      position: absolute;
      top: 97px;
      left: 244px;
      cursor: pointer;
    }
  }

  .item.add-item:active {
    position: relative;
    top: 1px;
  }

  .thumb {
    width: 288px;
    height: 288px;
    .border1r;
  }

  .info {
    width: 255px;
    padding: 54px 0 0 0;
    margin: 0 0 0 23px;

    h3 {
      line-height: 24px;
      margin-bottom: 18px;
      .fs18;
      font-weight: bolder;

      a {
        .c_normal;
      }

      a:hover {
        .c_blue;
      }
    }

    .desc {
      line-height: 18px;
      margin-bottom: 22px;
      .fs12;
      .c_normal;
    }

    .btnWrap {}

    .btn {
      display: inline-block;
      line-height: 38px;
      padding: 0 26px;
      .c_normal;
      font-size: 15px;
      border: 1px solid #d8d8db;
      -webkit-transition: border-color .25s;
      -moz-transition: border-color .25s;
      -ms-transition: border-color .25s;
      -o-transition: border-color .25s;
      transition: border-color .25s;
    }

    .btn:hover {
      color: #fff;
      background: #1aa9eb;
      border-color: #1aa9eb;
    }
  }
}

/* create unit */
.p-unit-create {
  padding: 30px 60px;
  .border1;
  background: #fefefe;

  .upload {
    width: 285px;
    height: 285px;
    margin-right: 60px;
    .border1;
  }

  .upload-tips {
    padding: 98px 0 0 0;
    text-align: center;

    .btn {
      margin-bottom: 17px;
    }

    p {
      line-height: 22px;
      .fs14;
      .c_light;
    }
  }

  .detail {
    width: 745px;
  }

  .detail-title {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 18px;
    padding: 10px;
    margin-bottom: 20px;
    .box-sizing(border-box);
    .c_normal;
    .fs14;
    outline: none;
  }

  .detail-description {
    display: block;
    width: 100%;
    height: 98px;
    line-height: 18px;
    padding: 10px;
    margin-bottom: 20px;
    .fs14;
    .border1;
    .box-sizing(border-box);
    .c_normal;
    outline: none;
  }
}

/* status: edit unit */
.project-unit.status-edit {
  .p-unit-edit {
    .trash {
      display: block;
    }
  }

  .p-unit-bd {
    .select-icon {
      display: block;
    }
  }
}


/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
