/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Project
  ======================================================================*/
/* Page: project introduce */
.project-introduce {
  margin-bottom: 65px;

  .section-title {
    padding: 52px 0 12px 0;
    .fs30;
    .c_heavy;
  }

  /* section summary */
  .summary {
    background: #fbfcfc;

    .section-inner {
      position: relative;
      min-height: 508px;
      background-position: right top;
      background-repeat: no-repeat;
    }

    .main {
      .project-status {
        position: absolute;
        top: 56px;
        left: 0;
        font-size: 26px;
        color: #333;
      }

      h1 {
        width: 512px;
        .c_black;
        .fs30;
        padding-top: 112px;
        margin-bottom: 30px;
        font-weight: bolder;
      }

      .desc {
        width: 465px;
        line-height: 30px;
        margin-top: 33px;
        .fs14;
        .c_normal;
      }

      .project-status.doing {
        color: #17b346;
      }
    }

    /* summary picture */
    .summary-picture {
      margin-top: 115px;
    }

    .summary-picture-bd {
      width: 576px;
      height: 340px;
      background: #fff;
      border: 1px solid #dfdfdf;

      img {
        display: block;
        width: 100%;
        height: 340px;
      }
    }
  }

  .summary-picture-hd {
    display: none;
  }

  /* section logic */
  .logic {
    padding: 0 0 45px 0;
    background: #fff;
    .border1b;
  }

  .logic-hd {
    overflow: hidden;
    padding: 52px 0 12px 0;

    .btn.changeLogic {
      display: none;
    }

    ul { margin-left: -39px;}

    li {
      float: left;
      padding-left: 39px;
      margin-right: 39px;
      .fs30;
      .c_heavy;
      background: url("../images/logic-split.png") no-repeat left center;

      span {
        cursor: pointer;
      }
    }

    li.active {
      .c_blue;
      font-weight: bolder;
    }
  }

  .logic-bd {
    position: relative;

    .item {
      min-height: 516px;
    }

    .logic-item-logic {
      display: none;
    }

    .unitSelect {
      display: none;
    }
  }

  // project list
  .logic .project-unit-list { margin-top: 36px;}

  .project-unit-list {
    .listWrap {
      overflow: hidden;
    }

    .list {
      width: 120%;
    }

    .item {
      width: 388px;
      min-height: 0;
      margin: 0 40px 30px 0;
    }

    .thumb {
      width: 173px;
      height: 148px;
      border: 1px solid #d9d9de;
      margin-right: 15px;
      cursor: pointer;
    }

    .info {
      width: 150px;

      dt {
        a {
          .fs16;
          line-height: 24px;
          .c_normal;
          font-weight: bolder;
        }

        a:hover {
          .c_blue;
        }
      }

      dd {
        line-height: 24px;
        margin-top: 5px;
        .fs14;
        color: #555;
      }

      .type {
        margin-top: 25px;
        font-size: 12px;
        color: #999;
      }
    }

    /* selected */
    .item.selected {
      .thumb {
        border-color: #1aa9eb;
        box-shadow: 0 0 5px #76ccf3;
        position: relative;
      }

      .selectedMask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/project-unit-list-selected.png") no-repeat center center;
        cursor: pointer;
      }
    }
  }


  /* section information */
  .information {
    main {
      width: 809px;
    }

    aside {
      width: 378px;
      margin-left: 28px;
    }
  }
  /* progress */
  .progress {
    background: #f7f9fa;
  }

  .progress-hd {
    margin-bottom: 18px;
  }

  .progress-bd{
    .m-comment {
      margin: 0 0 28px 0;
    }

    .item {
      position: relative;
      padding: 24px 28px 30px 28px;
      margin-bottom: 28px;
      background: #fff;
      border: 1px solid #dfdfdf;
    }

    .user {
      width: 80px;
      margin-right: 25px;
      text-align: center;

      .thumb {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 9px;
        border-radius: 80px;
        background: #f7f9fa;

        .transition(all, .2s);
      }

      .thumb:hover {
        opacity: .85;
        .transform(rotate(15deg));
      }

      .name {
        .fs16;
        .c_heavy;
      }
    }

    .detail {
      width: 645px;

      h3 {
        padding: 0 0 18px 0;
        margin-bottom: 20px;
        .fn;
        .fs24;
        .c_heavy;
        border-bottom: 1px solid #c7c7c7;
        position: relative;

        .date {
          .fs14;
          .c_normal;
          position: absolute;
          top: 14px;
          right: 0;
        }
      }

      .content {
        line-height: 30px;
        padding: 0 0 15px 0;
        .fs14;
        .c_heavy;
      }

      .thumbList {
        overflow: hidden;
      }

      .thumbList-bd {
        width: 120%;
      }

      .thumbList-item {
        float: left;
        width: 125px;
        height: 80px;
        margin-right: 12px;
        border: 1px solid #c7c7c7;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    .post-operate {
      position: absolute;
      bottom: 25px;
      right: 28px;
      text-align: right;
      margin: 16px 0 -10px 0;
      .enableSelect;

      .icon {
        display: inline-block;
        width: 22px;
        height: 25px;
        margin-left: 25px;
        cursor: pointer;
      }

      .icon:active {
        position: relative;
        top: 1px;
      }

      .icon-reply {
        background: url("../images/icon-reply.png") no-repeat center center;
      }

      .icon-trash {
        background: url("../images/icon-trash2.png") no-repeat center center;
      }
    }
  }

  /* team member */
  .team-member {
  }

  .team-member-hd {
    margin-bottom: 18px;
  }

  .team-member-bd {
    padding:  24px 0 0 0;
    background: #fff;
    .border1;

    .listWrap {
      margin: 0 20px;
    }

    .item {
      float: left;
      margin: 0 48px 20px 0;
      position: relative;
    }

    .item:nth-child(3n) {
      margin-right: 0;
    }

    .thumb {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      overflow: hidden;
      .transition(all, .2s);
    }

    .thumb:hover {
      opacity: .85;

      .info {
        display: block;
      }
    }

    .thumb-name {
      padding: 14px 0 8px 0;
      text-align: center;
      .fs14;
      .c_heavy;
    }

    .team-member-add {
      display: block;
      width: 80px;
      height: 80px;
      background: url("../images/project-team-member-add.png") no-repeat;
      cursor: pointer;
    }

    .team-member-add:active {
      position: relative;
      top: 1px;
    }

      .info {
      display: none;
      position: absolute;
      right: 94px;
      top: 45px;
      z-index: 100;
      width: 302px;
      background: #fff;
      border: 1px solid #efefef;
    }

    .info-bd {
      padding: 20px 20px 9px 20px;

      dl {
        padding-top: 22px;
        margin: 0 0 3px 15px;

        dt {
          .fs16;
          .c_heavy;
        }

        dd {
          .fs12;
          .c_light;
        }

        a {
          .c_heavy;
        }
      }

      .desc {
        .fs12;
        .c_normal;
      }
    }

    .info-ft {
      border-top: 1px solid #efefef;
      padding: 10px 0;
      .text-center;
      background: #fcfcfc;

      .btn {
        display: inline-block;
        line-height: 32px;
        padding: 0 30px;
        .c_normal;
        .fs16;
        background: #fff;
        border: 1px solid #efefef;
      }
    }

    .arrow{
      width: 7px;
      height: 15px;
      background: url("../images/project-team-member-info-arror.png") no-repeat;
      position: absolute;
      top: 34px;
      right: -7px;
    }

    .close{
      width: 12px;
      height: 12px;
      background: url("../images/project-team-member-close.png") no-repeat;
      position: absolute;
      top: 20px;
      right:20px;
      cursor: pointer;
    }

    /* member operate */
    .operate-remove {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 24px;
      height: 24px;
      background: url("../images/icon-remove.png") no-repeat center center;
      cursor: pointer;
    }

    .operate-remove:active {
      top: 1px;
    }
  }

  .team-member-ft {
    padding: 20px;
    margin-top: -6px;
    background: #fff;
    .border1;
    border-top: 1px solid #efefef;

    .team-member-invalid {
      border: 1px solid #efefef;

      input {
        width: 255px;
        height: 18px;
        line-height: 18px;
        padding: 10px;
        tab-index: 0.5em;
        .fs14;
        .c_normal;
        .ffam;
        border: none;
        outline: none;
        background: #fff;
      }

      .btn {
        width: 58px;
        height: 38px;
        line-height: 38px;
        .fs16;
        .c_white;
        border-left: 1px solid #efefef;
        text-align: center;
        background: #1aa9eb;
      }
    }
  }

  .progress-ft {
    .saveEdit {
      float: left;
    }

    .m-pagination {
      float: right;
    }
  }

    /* project units */
  .project-units {
  }

  .project-units-hd {
    .section-title {
      padding: 23px 0;
    }
  }

  .project-units-bd {
    padding: 25px 0 25px 18px;
    background: #fff;

    .item {
      margin-bottom: 20px;
    }

    .thumb {
      width: 160px;
      height: 112px;
      margin-right: 18px;
      background: #f7f9fa;

      img {
        display: block;
        .transition(all, .25s);
      }

    }

    .thumb:hover img {
      opacity: .85;
    }

    .info {
      width: 175px;

      .title {
        display: inline-block;
        margin: 25px 0 17px 0;
        .fs18;
        .c_normal;
        .fb;
      }

      p {
        .fs14;
        .c_normal;
      }
    }
  }

  .project-units-more {
    margin-right: 32px;
    .fs16;
    color: #1aa9eb;
  }

  /* join activity */
  .join-activity {
  }

  .join-activity-bd {
    overflow: hidden;

    .list {
      margin-top: -30px;
    }

    .item {
      padding: 20px;
      margin-top: 30px;
      background: #fff;
      border: 1px solid #dfdfdf;

      dt {
        line-height: 30px;
        padding: 1px 0 13px 0;
        .fs16;
        border-bottom: 1px solid #e9e9e9;

        a {
          .c_normal;
          font-weight: bolder;
        }

        a:hover {
          .c_blue;
        }
      }

      dd {
        line-height: 24px;
        padding: 15px 0 0 0;
        .fs14;
        .c_normal;
      }
    }
  }

}

/* Editing status */
.project-introduce.editing {
  /* summary */
  .summary-picture-hd {
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;

    .upload-picture {
      display: inline-block;
      width: 168px;
      height: 45px;
      overflow: hidden;
      position: relative;
    }

    .btn {
      min-width: inherit;
      padding: 0 36px;
    }

    .file {
      font-size: 200px;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
    }
  }

  /* logic */
  .logic-bd{
    .logic-item-logic {
      .operateWrap {
        position: absolute;
        top: -62px;
        right: 20px;
      }

      .btn {
        min-width: 0;
        padding: 0 35px;
      }
    }

    .logic-item-unit {
      .operateWrap {
        position: absolute;
        top: -98px;
        right: 20px;
      }

      .btn {
        min-width: 0;
        padding: 0 35px;
      }
    }
  }
}

/* Creating status */
.project-introduce.creating {
  /* summary */
  .summary {
    .section-inner {
      min-height: 440px;
    }

    .name {
      display: block;
      width: 612px;
      height: 70px;
      line-height: 38px;
      padding: 15px 10px;
      margin: 50px 0 22px 0;
      border: 1px solid #dfdfdf;
      .box-sizing(border-box);
      .c_normal;
      .fs30;
      outline: none;
      resize: none;
    }

    .description {
      display: block;
      width: 612px;
      height: 250px;
      line-height: 30px;
      padding: 15px 10px;
      border: 1px solid #dfdfdf;
      .box-sizing(border-box);
      .c_normal;
      .fs14;
      outline: none;
      resize: none;
    }

    .summary-picture {
      width: 580px;
      height: 340px;
      margin-top: 50px;
      background: #fff;
      border: 1px solid #dfdfdf;
    }

    .uploadImg-before {
      padding: 118px;
      height: 104px;
      text-align: center;

      .tips {
        line-height: 22px;
        margin-top: 25px;
        .fs14;
        .c_light;
      }
    }

    .btnWrap {
      display: inline-block;
      overflow: hidden;
      width: 167px;
      height: 340px;
      position: relative;

      .btn {
        min-width: 0;
        padding: 0 35px;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 200px;
        opacity: 0;
        cursor: pointer;
      }
    }

    .uploadImg-after {
      display: none;
      text-align: center;
      position: relative;

      img {
        vertical-align: top;
      }
    }
  }

  /* logic */
  .logic-bd {
    .unitSelect {
      display: block;
      position: relative;
      top: 15px;
    }
  }
}


/* Page: project list */
.project-list {
  .m-page-title {
    li.active {
      .fs30;
      margin-top: -2px;
    }
  }

  .body-hd {
    margin-bottom: 50px;
  }

  .body-bd {
    margin-bottom: 16px;

    .m-pagination {
      margin: 8px 0 0 0;
    }
  }
}


/* Page: project unit */
.project-unit{
  background: #fff;

  .body-hd {
    margin-bottom: 45px;
  }

  .body-bd {
    padding: 0 0 64px 0;
  }
}

/* create unit */
.project-unit-create {
  padding: 30px 60px;
  .border1;
  background: #fefefe;

  .upload {
    width: 285px;
    height: 285px;
    margin-right: 60px;
    .border1;
  }

  .upload-tips {
    padding: 98px 0 0 0;
    text-align: center;

    .btn {
      margin-bottom: 17px;
    }

    p {
      line-height: 22px;
      .fs14;
      .c_light;
    }
  }

  .detail {
    width: 745px;
  }

  .detail-title {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 18px;
    padding: 10px;
    margin-bottom: 20px;
    .box-sizing(border-box);
    .c_normal;
    .fs14;
    outline: none;
  }

  .detail-description {
    display: block;
    width: 100%;
    height: 98px;
    line-height: 18px;
    padding: 10px;
    margin-bottom: 20px;
    .fs14;
    .border1;
    .box-sizing(border-box);
    .c_normal;
    outline: none;
  }
}

/* status: edit unit */
.project-unit.status-edit {
  .p-unit-edit {
    .trash {
      display: block;
    }
  }

  .m-unit-list {
    .select-icon {
      display: block;
    }
  }
}


/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
