/* Qianglong Mo (SukeBeta) 2015 */

@import "base";

/*======================================================================
      Unit
  ======================================================================*/
/* Page: unit list */
.unit-list {
  background: #fff;

  .m-page-title {
    ul { margin-left: -37px;}

    li { padding: 0 37px;}
  }

  .body-bd {
    padding: 10px 0 80px 0;
  }
}

/* Page: unit detail */
.unit-detail {
  margin-top: 60px;
  /* summary */
  .summary {
    margin-bottom: 37px;

    .thumbList {
      width: 450px;
      margin-right: 52px;
    }

    .thumbList-hd {
      height: 330px;
      background: #eee;
      border: 1px solid #d9d9de;

      img {
        display: none;
        width: 100%;
        height: 330px;
      }
    }

    .thumbList-bd {
      .listWrap {
        overflow: hidden;
      }

      ul {
        width: 110%;
      }

      li {
        float: left;
        width: 77px;
        height: 77px;
        line-height: 77px;
        text-align: center;
        margin: 0 13px 13px 0;
        border: 1px solid #d9d9de;
        background: #fff;
        cursor: pointer;

        img {
          display: inline-block;
          max-width: 77px;
          max-height: 77px;
          line-height: 77px;
          vertical-align: top;
        }
      }

      li.active {
        border-color: #1aa9eb;
      }
    }

    .information {
      width: 640px;

      h1 {
        line-height: 36px;
        margin-bottom: 34px;
        .fs30;
        font-weight: bolder;
        .c_black;
      }

      .desc {
        height: 165px;
        margin-bottom: 15px;
        .fs18;
        line-height: 30px;
        .c_normal;
      }

      .btn {
        display: inline-block;
        min-width: 183px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .fs16;
        .c_white;
        background: url("../images/btn-gray.png") repeat-x 0 -40px;
        border: 1px solid #edecec;
      }
    }
  }

  /* detail */
  .detail {
    padding: 0 0 60px 0;
    border-top: 1px solid #dfdfdf;
    background: #fff;

    aside {
      width: 810px;
      margin-right: 55px;
    }

    main {
      width: 350px;
    }

    .section-title {
      padding: 52px 0 37px 0;
      .fs30;
      .c_heavy;
    }
  }

  .unit-intro {}

  .unit-intro-bd {
    .text-content {
      * {
        margin-bottom: 30px;
        .fs14;
        line-height: 23px;
        .c_normal;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    .description {
      > dt {
        padding: 40px 0 19px 0;
        margin-bottom: 20px;
        .fs24;
        .c_normal;
        font-weight: bolder;
        border-bottom: 1px solid #d9d9de;
      }


      dd {
        li {
          line-height: 22px;
          padding: 0 0 0 20px;
          margin-bottom: 20px;
          .fs14;
          .c_normal;
          background: url("../images/listStyle01.png") no-repeat left center;

          a {
            .c_blue;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }


  }

  /* example project */
  .example-project {
  }

  .example-project-bd {
    padding: 7px 0 50px 0;
    border-bottom: 1px solid #d9d9de;
  }

  .project-item {
    .thumb {
      width: 98px;
      height: 98px;
      margin-right: 24px;
      border: 1px solid #d9d9de;
    }

    .info {
      width: 214px;
    }

    dt {
      margin-bottom: 16px;

      a {
        .c_heavy;
        .fs18;
      }
    }

    dd {
      line-height: 18px;
      .fs14;
      .c_normal;
    }
  }

  /* refer project */
  .refer-project {
    .section-title {
      padding: 47px 0 42px 0;
      .fs24;
    }
  }

  .refer-project-bd {
    .project-item {
      margin-bottom: 32px;
    }
  }

  .refer-project-ft {
    .more {
      display: inline-block;
      padding: 0 30px 0 0;
      line-height: 18px;
      .c_blue;
      .fs18;
      background: url("../images/more-arrow.png") no-repeat right center;
    }
  }
}

/*======================================================================
      Responsive
  ======================================================================*/

@media screen and (max-width: 1215px){

}
